In [1]:
import pandas as pd
import re
import numpy as np

In [2]:
main = pd.read_table('../stata/logit.tsv', skiprows=[0, 1, 3, 4])
main['VARIABLES'] = main.VARIABLES.apply(lambda s: s.replace('b.', '.').replace('o.', '.') if not pd.isnull(s) else s)
main = main.set_index('VARIABLES')

In [3]:
income = pd.read_table('../stata/income_hhsize.tsv', skiprows=[0, 2, 3, 4, 5, 6])

for rown, row in income.iloc[0:4].iterrows():
    var = row.VARIABLES.replace('bn', '').replace('b.', '.').replace('o.', '.')
    
    for incomeCategory in [1, 2, 3]:
        for suffix, mainCol in [('', 'coef'), ('.1', 'pval.1'), ('.2', 'ci_low'), ('.3', 'ci_high')]:
            col = f'{incomeCategory}.incomeCategory{suffix}'
            
            mainRow = f'{var}#{incomeCategory}.incomeCategory'
            
            main.loc[mainRow, mainCol] = row.loc[col]

In [4]:
altt = pd.read_table('../stata/alt_hhsize.tsv', skiprows=[0, 2])

for rown, row in altt.iloc[0:4].iterrows():
    var = row.VARIABLES.replace('bn', '').replace('b.', '.').replace('o.', '.')
    
    for alt in ['pubTransCount', 'bikeCount', 'walkCount', 'vehPerHHMember', 'CNTTDTR']:
        for suffix, mainCol in [('', 'coef'), ('.1', 'pval.1'), ('.2', 'ci_low'), ('.3', 'ci_high')]:
            col = f'{alt}{suffix}'
            mainRow = f'{var}#c.{alt}'
            
            main.loc[mainRow, mainCol] = row.loc[col]

In [5]:
dens = pd.read_table('../stata/density_msaSize.tsv', skiprows=[0, 2, 3, 4, 5, 6, 7, 8])
for rown, row in dens.iloc[0:6].iterrows():
    var = row.VARIABLES.replace('bn', '').replace('b.', '.').replace('o.', '.')
    
    for densCategory in [1, 2, 3, 4, 5, 6, 7]:
        for suffix, mainCol in [('', 'coef'), ('.1', 'pval.1'), ('.2', 'ci_low'), ('.3', 'ci_high')]:
            col = f'{densCategory}.density{suffix}'
            
            mainRow = f'{var}#{densCategory}.density'
            
            main.loc[mainRow, mainCol] = row.loc[col]

In [6]:
with pd.option_context('display.max_rows', 100):
    display(main)

,LABELS,coefEform,pval,ci_lowEform,ci_highEform,coef,pval.1,ci_low,ci_high,coef.1,pval.2,ci_low.1,ci_high.1
VARIABLES,,,,,,,,,,,,,
2.hhSizeTopcode4,hhSizeTopcode4 = 2,1.380***,6.590000e-04,1.14600,1.66100,0.00732,1.910000e-01,-0.003660,0.018300,NaN,NaN,NaN,NaN
3.hhSizeTopcode4,hhSizeTopcode4 = 3,0.913,4.920000e-01,0.70400,1.18400,-0.0314***,2.140000e-07,-0.043200,-0.019500,NaN,NaN,NaN,NaN
4.hhSizeTopcode4,hhSizeTopcode4 = 4,0.687**,7.670000e-03,0.52100,0.90500,-0.0498***,0.000000e+00,-0.061800,-0.037800,NaN,NaN,NaN,NaN
1.isWorker,isWorker = 1,1.412***,0.000000e+00,1.34400,1.48300,0.0226***,0.000000e+00,0.019500,0.025800,NaN,NaN,NaN,NaN
1.homeowner,homeowner = 1,0.752***,0.000000e+00,0.71300,0.79300,-0.0200***,0.000000e+00,-0.023800,-0.016200,NaN,NaN,NaN,NaN
1.sex,"sex = 1, Male",1.135***,0.000000e+00,1.10000,1.17100,0.00864***,0.000000e+00,0.006500,0.010800,NaN,NaN,NaN,NaN
1.children0to12,children0to12 = 1,1.000,9.980000e-01,0.92800,1.07800,6.59e-06,9.980000e-01,-0.005120,0.005140,NaN,NaN,NaN,NaN
1.children13to17,children13to17 = 1,0.980,6.420000e-01,0.90100,1.06600,-0.00136,6.410000e-01,-0.007090,0.004360,NaN,NaN,NaN,NaN
1.unrelated,unrelated = 1,2.045***,0.000000e+00,1.80100,2.32200,0.0565***,0.000000e+00,0.045000,0.068000,NaN,NaN,NaN,NaN
1.outOfTown,outOfTown = 1,2.110***,0.000000e+00,1.94100,2.29300,0.0615***,0.000000e+00,0.053400,0.069700,NaN,NaN,NaN,NaN
1.dailySmartphoneUseHH,dailySmartphoneUseHH = 1,3.141***,0.000000e+00,2.86400,3.44400,0.0604***,0.000000e+00,0.056700,0.064200,NaN,NaN,NaN,NaN
0.incomeCategory#c.vehPerHHMember,NaN,0.794**,7.810000e-03,0.66900,0.94100,-0.0111**,8.500000e-03,-0.019400,-0.002840,NaN,NaN,NaN,NaN
1.incomeCategory#c.vehPerHHMember,NaN,0.770***,7.930000e-04,0.66100,0.89700,-0.0122***,8.860000e-04,-0.019300,-0.004990,NaN,NaN,NaN,NaN
2.incomeCategory#c.vehPerHHMember,NaN,0.753***,5.590000e-10,0.68900,0.82400,-0.0167***,6.840000e-10,-0.022100,-0.011400,NaN,NaN,NaN,NaN
3.incomeCategory#c.vehPerHHMember,NaN,0.918**,9.960000e-03,0.86000,0.98000,-0.00909**,9.920000e-03,-0.016000,-0.002180,NaN,NaN,NaN,NaN
0.incomeCategory#c.pubTransCount,NaN,1.040***,0.000000e+00,1.03100,1.04900,0.00189***,0.000000e+00,0.001470,0.002310,NaN,NaN,NaN,NaN
1.incomeCategory#c.pubTransCount,NaN,1.048***,0.000000e+00,1.03800,1.05800,0.00218***,0.000000e+00,0.001740,0.002610,NaN,NaN,NaN,NaN
2.incomeCategory#c.pubTransCount,NaN,1.060***,0.000000e+00,1.05200,1.06700,0.00343***,0.000000e+00,0.003020,0.003850,NaN,NaN,NaN,NaN
3.incomeCategory#c.pubTransCount,NaN,1.065***,0.000000e+00,1.05900,1.07100,0.00663***,0.000000e+00,0.006030,0.007240,NaN,NaN,NaN,NaN
0.incomeCategory#c.walkCount,NaN,1.007*,1.210000e-02,1.00100,1.01200,0.000317*,1.230000e-02,0.000069,0.000565,NaN,NaN,NaN,NaN
1.incomeCategory#c.walkCount,NaN,1.012***,3.450000e-07,1.00700,1.01600,0.000541***,3.590000e-07,0.000332,0.000749,NaN,NaN,NaN,NaN
2.incomeCategory#c.walkCount,NaN,1.013***,0.000000e+00,1.00900,1.01600,0.000753***,0.000000e+00,0.000546,0.000960,NaN,NaN,NaN,NaN
3.incomeCategory#c.walkCount,NaN,1.016***,0.000000e+00,1.01300,1.02000,0.00172***,0.000000e+00,0.001390,0.002060,NaN,NaN,NaN,NaN
0.incomeCategory#c.bikeCount,NaN,1.012,1.250000e-01,0.99700,1.02700,0.000556,1.250000e-01,-0.000154,0.001270,NaN,NaN,NaN,NaN
1.incomeCategory#c.bikeCount,NaN,1.048***,5.700000e-05,1.02400,1.07200,0.00217***,5.880000e-05,0.001110,0.003230,NaN,NaN,NaN,NaN
2.incomeCategory#c.bikeCount,NaN,1.035**,1.370000e-03,1.01300,1.05700,0.00202**,1.380000e-03,0.000782,0.003260,NaN,NaN,NaN,NaN
3.incomeCategory#c.bikeCount,NaN,1.050***,2.460000e-08,1.03200,1.06800,0.00518***,2.420000e-08,0.003360,0.007000,NaN,NaN,NaN,NaN
0.incomeCategory#c.CNTTDTR,NaN,1.024*,3.670000e-02,1.00100,1.04700,0.00113*,3.610000e-02,0.000073,0.002200,NaN,NaN,NaN,NaN
1.incomeCategory#c.CNTTDTR,NaN,1.030**,2.240000e-03,1.01100,1.05000,0.00138**,2.300000e-03,0.000494,0.002280,NaN,NaN,NaN,NaN
2.incomeCategory#c.CNTTDTR,NaN,1.042***,7.500000e-10,1.02800,1.05600,0.00244***,8.400000e-10,0.001660,0.003210,NaN,NaN,NaN,NaN
3.incomeCategory#c.CNTTDTR,NaN,1.043***,0.000000e+00,1.03300,1.05300,0.00443***,0.000000e+00,0.003420,0.005440,NaN,NaN,NaN,NaN
1.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.hhSizeTopcode4#1.incomeCategory,NaN,1.270,1.100000e-01,0.94700,1.70200,0.0240***,3.990000e-07,0.014800,0.033300,NaN,NaN,NaN,NaN
1.hhSizeTopcode4#2.incomeCategory,NaN,2.083***,4.540000e-09,1.63000,2.66200,0.0734***,0.000000e+00,0.063900,0.083000,NaN,NaN,NaN,NaN
1.hhSizeTopcode4#3.incomeCategory,NaN,3.500***,0.000000e+00,2.74500,4.46300,0.155***,0.000000e+00,0.142000,0.168000,NaN,NaN,NaN,NaN
2.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.hhSizeTopcode4#1.incomeCategory,NaN,0.920,5.500000e-01,0.70100,1.20800,0.000924,8.240000e-01,-0.007210,0.009060,NaN,NaN,NaN,NaN
2.hhSizeTopcode4#2.incomeCategory,NaN,1.456**,1.420000e-03,1.15600,1.83500,0.0324***,0.000000e+00,0.024800,0.040100,NaN,NaN,NaN,NaN
2.hhSizeTopcode4#3.incomeCategory,NaN,2.867***,0.000000e+00,2.30100,3.57300,0.107***,0.000000e+00,0.098400,0.115000,NaN,NaN,NaN,NaN
3.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.hhSizeTopcode4#1.incomeCategory,NaN,0.956,7.780000e-01,0.70000,1.30600,0.00197,7.400000e-01,-0.009650,0.013600,NaN,NaN,NaN,NaN
3.hhSizeTopcode4#2.incomeCategory,NaN,1.190,2.040000e-01,0.90900,1.55800,0.0169**,2.260000e-03,0.006070,0.027800,NaN,NaN,NaN,NaN
3.hhSizeTopcode4#3.incomeCategory,NaN,2.602***,0.000000e+00,2.02100,3.34900,0.0909***,0.000000e+00,0.079400,0.102000,NaN,NaN,NaN,NaN
4.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.hhSizeTopcode4#1.incomeCategory,NaN,0.832,2.550000e-01,0.60700,1.14100,-0.00410,4.460000e-01,-0.014600,0.006440,NaN,NaN,NaN,NaN
4.hhSizeTopcode4#2.incomeCategory,NaN,1.135,3.500000e-01,0.87000,1.48100,0.0115*,2.000000e-02,0.001810,0.021100,NaN,NaN,NaN,NaN
4.hhSizeTopcode4#3.incomeCategory,NaN,2.647***,0.000000e+00,2.06000,3.40100,0.0806***,0.000000e+00,0.070200,0.090900,NaN,NaN,NaN,NaN
1.race,"race = 1, American Indian or Alaska Native",0.812,1.520000e-01,0.61100,1.08000,-0.0139,1.290000e-01,-0.031900,0.004060,NaN,NaN,NaN,NaN
2.race,"race = 2, Asian",0.779***,4.130000e-09,0.71700,0.84700,-0.0165***,4.270000e-10,-0.021700,-0.011300,NaN,NaN,NaN,NaN
3.race,"race = 3, Black or African American",0.762***,2.050000e-10,0.70000,0.82800,-0.0179***,0.000000e+00,-0.023100,-0.012700,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3.msaSize#2.density,NaN,2.077***,7.580000e-05,1.44600,2.98200,0.0252***,1.330000e-05,0.013800,0.036500,NaN,NaN,NaN,NaN
3.msaSize#3.density,NaN,2.317***,2.010000e-06,1.63900,3.27800,0.0304***,1.950000e-08,0.019800,0.041000,NaN,NaN,NaN,NaN
3.msaSize#4.density,NaN,3.097***,5.070000e-11,2.21100,4.34000,0.0465***,0.000000e+00,0.035800,0.057200,NaN,NaN,NaN,NaN
3.msaSize#5.density,NaN,3.076***,1.510000e-10,2.18100,4.33800,0.0461***,0.000000e+00,0.035000,0.057200,NaN,NaN,NaN,NaN
3.msaSize#6.density,NaN,3.632***,8.870000e-10,2.40500,5.48700,0.0569***,1.270000e-08,0.037300,0.076500,NaN,NaN,NaN,NaN
3.msaSize#7.density,NaN,5.110***,7.640000e-06,2.50100,10.44000,0.0832**,3.260000e-03,0.027800,0.139000,NaN,NaN,NaN,NaN
4.msaSize#0.density,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.msaSize#1.density,NaN,1.242,2.590000e-01,0.85300,1.81000,0.0102,2.400000e-01,-0.006820,0.027200,NaN,NaN,NaN,NaN
4.msaSize#2.density,NaN,2.044***,2.230000e-04,1.39800,2.98700,0.0407***,5.400000e-05,0.020900,0.060400,NaN,NaN,NaN,NaN
4.msaSize#3.density,NaN,2.118***,3.450000e-05,1.48500,3.02100,0.0433***,1.090000e-06,0.025900,0.060700,NaN,NaN,NaN,NaN
4.msaSize#4.density,NaN,2.356***,1.010000e-06,1.67100,3.32300,0.0514***,6.270000e-10,0.035100,0.067700,NaN,NaN,NaN,NaN
4.msaSize#5.density,NaN,2.876***,8.590000e-10,2.05200,4.03200,0.0682***,0.000000e+00,0.052300,0.084100,NaN,NaN,NaN,NaN
4.msaSize#6.density,NaN,2.755***,4.340000e-08,1.91700,3.95900,0.0644***,1.050000e-10,0.044900,0.083900,NaN,NaN,NaN,NaN
4.msaSize#7.density,NaN,7.944***,0.000000e+00,4.48300,14.08000,0.187***,1.290000e-07,0.118000,0.257000,NaN,NaN,NaN,NaN
5.msaSize#0.density,NaN,1,NaN,1.00000,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.msaSize#1.density,NaN,1.686**,4.870000e-03,1.17200,2.42600,0.0319**,1.810000e-03,0.011900,0.052000,NaN,NaN,NaN,NaN
5.msaSize#2.density,NaN,2.087***,6.870000e-05,1.45300,2.99800,0.0481***,4.710000e-06,0.027500,0.068700,NaN,NaN,NaN,NaN
5.msaSize#3.density,NaN,2.756***,1.040000e-08,1.94800,3.89900,0.0723***,0.000000e+00,0.052900,0.091700,NaN,NaN,NaN,NaN
5.msaSize#4.density,NaN,3.168***,0.000000e+00,2.25400,4.45200,0.0858***,0.000000e+00,0.067300,0.104000,NaN,NaN,NaN,NaN
5.msaSize#5.density,NaN,3.561***,0.000000e+00,2.53900,4.99400,0.0978***,0.000000e+00,0.079700,0.116000,NaN,NaN,NaN,NaN
5.msaSize#6.density,NaN,4.605***,0.000000e+00,3.26500,6.49600,0.127***,0.000000e+00,0.107000,0.146000,NaN,NaN,NaN,NaN
5.msaSize#7.density,NaN,6.967***,0.000000e+00,4.87000,9.96700,0.180***,0.000000e+00,0.156000,0.204000,NaN,NaN,NaN,NaN
1.msaRail,msaRail = 1,0.979,5.740000e-01,0.90800,1.05500,-0.00146,5.730000e-01,-0.006550,0.003630,NaN,NaN,NaN,NaN
1.season,"season = 1, Spring",0.798***,8.980000e-11,0.74500,0.85400,-0.0154***,0.000000e+00,-0.019900,-0.010800,NaN,NaN,NaN,NaN
2.season,"season = 2, Summer",0.820***,0.000000e+00,0.77600,0.86700,-0.0136***,0.000000e+00,-0.017400,-0.009760,NaN,NaN,NaN,NaN
3.season,"season = 3, Winter",0.999,9.580000e-01,0.94500,1.05500,-0.000107,9.580000e-01,-0.004090,0.003880,NaN,NaN,NaN,NaN
1.geographicCellDerived,"geographicCellDerived = 1, California",1.315**,1.750000e-03,1.10800,1.56000,0.0216***,8.540000e-04,0.008890,0.034300,NaN,NaN,NaN,NaN
2.geographicCellDerived,"geographicCellDerived = 2, Census division 1 (...",0.834,1.350000e-01,0.65700,1.05800,-0.0127,1.360000e-01,-0.029300,0.003970,NaN,NaN,NaN,NaN
3.geographicCellDerived,"geographicCellDerived = 3, Census division 2 (...",0.753*,2.760000e-02,0.58500,0.96900,-0.0192*,2.680000e-02,-0.036200,-0.002210,NaN,NaN,NaN,NaN
4.geographicCellDerived,"geographicCellDerived = 4, Census division 3 (...",0.828,8.170000e-02,0.66900,1.02400,-0.0131,8.590000e-02,-0.028100,0.001860,NaN,NaN,NaN,NaN
5.geographicCellDerived,"geographicCellDerived = 5, Census division 4 (...",0.585***,3.090000e-05,0.45400,0.75200,-0.0339***,2.700000e-05,-0.049700,-0.018100,NaN,NaN,NaN,NaN
6.geographicCellDerived,"geographicCellDerived = 6, Census division 5 (...",1.121,2.790000e-01,0.91200,1.37800,0.00862,2.750000e-01,-0.006860,0.024100,NaN,NaN,NaN,NaN
7.geographicCellDerived,"geographicCellDerived = 7, Census division 6 (...",0.871,3.560000e-01,0.65000,1.16800,-0.00974,3.500000e-01,-0.030200,0.010700,NaN,NaN,NaN,NaN
8.geographicCellDerived,"geographicCellDerived = 8, Census division 7 (...",1.066,7.620000e-01,0.70300,1.61800,0.00480,7.650000e-01,-0.026700,0.036300,NaN,NaN,NaN,NaN
9.geographicCellDerived,"geographicCellDerived = 9, Census division 8 (...",0.834,1.370000e-01,0.65600,1.05900,-0.0127,1.360000e-01,-0.029300,0.004000,NaN,NaN,NaN,NaN
10.geographicCellDerived,"geographicCellDerived = 10, Census division 9 ...",0.578***,3.550000e-05,0.44600,0.75000,-0.0345***,2.770000e-05,-0.050600,-0.018400,NaN,NaN,NaN,NaN
11.geographicCellDerived,"geographicCellDerived = 11, Georgia",1.283**,8.420000e-03,1.06600,1.54500,0.0196**,6.220000e-03,0.005550,0.033600,NaN,NaN,NaN,NaN
12.geographicCellDerived,"geographicCellDerived = 12, Iowa",0.746*,1.750000e-02,0.58500,0.95000,-0.0198*,1.720000e-02,-0.036200,-0.003510,NaN,NaN,NaN,NaN
13.geographicCellDerived,"geographicCellDerived = 13, Maryland",0.810,1.090000e-01,0.62600,1.04800,-0.0146,1.070000e-01,-0.032300,0.003140,NaN,NaN,NaN,NaN
14.geographicCellDerived,"geographicCellDerived = 14, New York State",0.430***,0.000000e+00,0.35700,0.51700,-0.0489***,0.000000e+00,-0.061600,-0.036200,NaN,NaN,NaN,NaN
15.geographicCellDerived,"geographicCellDerived = 15, North Carolina",1.083,4.190000e-01,0.89300,1.31300,0.00595,4.150000e-01,-0.008340,0.020200,NaN,NaN,NaN,NaN
16.geographicCellDerived,"geographicCellDerived = 16, Oklahoma",0.898,4.780000e-01,0.66700,1.20900,-0.00766,4.730000e-01,-0.028600,0.013300,NaN,NaN,NaN,NaN
17.geographicCellDerived,"geographicCellDerived = 17, South Carolina",1.072,5.030000e-01,0.87400,1.31600,0.00523,5.010000e-01,-0.010000,0.020400,NaN,NaN,NaN,NaN
18.geographicCellDerived,"geographicCellDerived = 18, Texas",0.779**,3.970000e-03,0.65700,0.92300,-0.0171**,6.610000e-03,-0.029400,-0.004760,NaN,NaN,NaN,NaN
19.geographicCellDerived,"geographicCellDerived = 19, Wisconsin",0.784*,1.010000e-02,0.65100,0.94400,-0.0167*,1.360000e-02,-0.030000,-0.003430,NaN,NaN,NaN,NaN
Constant,Constant,0.00387***,0.000000e+00,0.00268,0.00559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Observations,NaN,"224,720",NaN,NaN,NaN,"224,720",NaN,NaN,NaN,"221,128",NaN,NaN,NaN
Robust seeform in parentheses,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"*** p<0.001, ** p<0.01, * p<0.05",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
main.insert(0, 'Variable', main.index)

# Marginal effects for MSA size are in a different column because they're estimated on a different sample
for i in range(1, 6):
    idx = main.index[main.Variable == f'{i}.msaSize'][0]
    main.loc[idx, 'coef'] = main.loc[idx, 'coef.1']
    main.loc[idx, 'pval.1'] = main.loc[idx, 'pval.2']
    main.loc[idx, 'ci_low'] = main.loc[idx, 'ci_low.1']
    main.loc[idx, 'ci_high'] = main.loc[idx, 'ci_high.1']

main = main.reset_index()
main['pos'] = main.index * 2
main = main.set_index('pos')

for firstVar, label in [
    ('2.hhSizeTopcode4', 'Household size'),
    ('0.incomeCategory#c.vehPerHHMember', 'Vehicles per household member'),
    ('0.incomeCategory#c.pubTransCount', 'Days used public transit in last 30 days'),
    ('0.incomeCategory#c.walkCount', 'Walk trips in last 7 days'),
    ('0.incomeCategory#c.bikeCount', 'Bike trips in last 7 days'),
    ('1.children0to12', 'Presence of children'),
    ('0.incomeCategory#c.CNTTDTR', 'Count of trips on travel day'),
    ('1.hhSizeTopcode4#1.incomeCategory', 'Income, household size 1'),
    ('2.hhSizeTopcode4#1.incomeCategory', 'Income, household size 2'),
    ('3.hhSizeTopcode4#1.incomeCategory', 'Income, household size 3'),
    ('4.hhSizeTopcode4#1.incomeCategory', 'Income, household size 4+'),
    ('0.msaSize#1.density', 'Home block group density, not in MSA'),
    ('1.msaSize#1.density', 'Home block group density, MSA with less than 250,000 people'),
    ('2.msaSize#1.density', 'Home block group density, MSA with 250,000 to 499,999 people'),
    ('3.msaSize#1.density', 'Home block group density, MSA with 500,000 to 999,999 people'),
    ('4.msaSize#1.density', 'Home block group density, MSA with 1,000,000 to 2,999,999 people'),
    ('5.msaSize#1.density', 'Home block group density, MSA with 3 million people or more'),
    ('1.race', 'Race'),
    ('1.agecat', 'Age'),
    ('1.msaSize', 'MSA size'),
]:
    if not np.any(main.Variable == firstVar):
        print(f'{firstVar} not found!')
    idx = main.index[main.Variable == firstVar][0]
    main.loc[idx - 1] =\
        pd.Series([r'\textbf{' + label + '}', '', '', '', '', '', '', '', ''
                  ], index=['Variable', 'coefEform', 'pval', 'ci_lowEform',
       'ci_highEform', 'coef', 'pval.1', 'ci_low', 'ci_high'])

# Variables that are not part of a group
loneVars = ['1.outOfTown', '1.isWorker', '1.unrelated', '1.isHispanic', '1.homeowner', '1.dailySmartphoneUseHH', '1.msaRail', '1.sex']
        
# Replace all vars with labels
main['Variable'] = main.Variable.replace({ k: (r'\ti ' + v) if k not in loneVars else v for k, v in {
'2.hhSizeTopcode4': 'Household size 2',
'3.hhSizeTopcode4': 'Household size 3',
'4.hhSizeTopcode4': 'Household size 4+',
'1.outOfTown': 'Out of town on travel day',
'0.incomeCategory#c.vehPerHHMember': r'\$24,999 or less',
'1.incomeCategory#c.vehPerHHMember': r'\$25,000-\$50,000',
'2.incomeCategory#c.vehPerHHMember': r'\$50,000-\$100,000',
'3.incomeCategory#c.vehPerHHMember': r'More than \$100,000',
'0.incomeCategory#c.pubTransCount': r'\$24,999 or less',
'1.incomeCategory#c.pubTransCount': r'\$25,000-\$50,000',
'2.incomeCategory#c.pubTransCount': r'\$50,000-\$100,000',
'3.incomeCategory#c.pubTransCount': r'More than \$100,000',
'0.incomeCategory#c.walkCount': r'\$24,999 or less',
'1.incomeCategory#c.walkCount': r'\$25,000-\$50,000',
'2.incomeCategory#c.walkCount': r'\$50,000-\$100,000',
'3.incomeCategory#c.walkCount': r'More than \$100,000',
'0.incomeCategory#c.bikeCount': r'\$24,999 or less',
'1.incomeCategory#c.bikeCount': r'\$25,000-\$50,000',
'2.incomeCategory#c.bikeCount': r'\$50,000-\$100,000',
'3.incomeCategory#c.bikeCount': r'More than \$100,000',
'0.incomeCategory#c.CNTTDTR': r'\$24,999 or less',
'1.incomeCategory#c.CNTTDTR': r'\$25,000-\$50,000',
'2.incomeCategory#c.CNTTDTR': r'\$50,000-\$100,000',
'3.incomeCategory#c.CNTTDTR': r'More than \$100,000',
'1.hhSizeTopcode4#1.incomeCategory': r'\$25,000-\$50,000',
'1.hhSizeTopcode4#2.incomeCategory': r'\$50,000-\$100,000',
'1.hhSizeTopcode4#3.incomeCategory': r'More than \$100,000',
'2.hhSizeTopcode4#1.incomeCategory': r'\$25,000-\$50,000',
'2.hhSizeTopcode4#2.incomeCategory': r'\$50,000-\$100,000',
'2.hhSizeTopcode4#3.incomeCategory': r'More than \$100,000',
'3.hhSizeTopcode4#1.incomeCategory': r'\$25,000-\$50,000',
'3.hhSizeTopcode4#2.incomeCategory': r'\$50,000-\$100,000',
'3.hhSizeTopcode4#3.incomeCategory': r'More than \$100,000',
'4.hhSizeTopcode4#1.incomeCategory': r'\$25,000-\$50,000',
'4.hhSizeTopcode4#2.incomeCategory': r'\$50,000-\$100,000',
'4.hhSizeTopcode4#3.incomeCategory': r'More than \$100,000',
'1.race': 'American Indian or Alaska Native',
'2.race': 'Asian',
'3.race': 'Black or African American',
'4.race': 'Multiple races',
'5.race': 'Native Hawaiian or other Pacific Islander',
'6.race': 'Other',
'1.agecat': '20-29',
'2.agecat': '30-39',
'3.agecat': '40-49',
'4.agecat': '50-59',
'5.agecat': '60-69',
'6.agecat': '70-79',
'7.agecat': '80+',
'1.msaSize': 'Less than 250,000\textsuperscript{\textdagger}',
'2.msaSize': '250,000-499,999\textsuperscript{\textdagger}',
'3.msaSize': '500,000-999,999\textsuperscript{\textdagger}',
'4.msaSize': '1,000,000-2,999,999\textsuperscript{\textdagger}',
'5.msaSize': 'More than 3,000,000\textsuperscript{\textdagger}',
'1.density': '100-499 persons/sq. mi.',
'2.density': '500-999 persons/sq. mi.',
'3.density': '1,000-1,999 persons/sq. mi.',
'4.density': '2,000-3,999 persons/sq. mi.',
'5.density': '4,000-9,999 persons/sq. mi.',
'6.density': '10,000-24,999 persons/sq. mi.',
'7.density': '25,000 persons/sq. mi. or more',
'1.isWorker': 'Worker',
'1.children0to12': 'Children 0-12',
'1.children13to17': 'Children 13-17',
'1.unrelated': 'No related adults in household',
'1.isHispanic': 'Hispanic',
'1.homeowner': 'Homeowner',
'1.msaRail': 'Heavy rail in MSA',
'0.msaSize#1.density': '100--499 persons/sq. mi.',
'0.msaSize#2.density': '500--999 persons/sq. mi.',
'0.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'0.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'0.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'0.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'0.msaSize#7.density': '> 25,000 persons/sq. mi.',
'1.msaSize#1.density': '100--499 persons/sq. mi.',
'1.msaSize#2.density': '500--999 persons/sq. mi.',
'1.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'1.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'1.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'1.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'1.msaSize#7.density': '> 25,000 persons/sq. mi.',
'2.msaSize#1.density': '100--499 persons/sq. mi.',
'2.msaSize#2.density': '500--999 persons/sq. mi.',
'2.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'2.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'2.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'2.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'2.msaSize#7.density': '> 25,000 persons/sq. mi.',
'3.msaSize#1.density': '100--499 persons/sq. mi.',
'3.msaSize#2.density': '500--999 persons/sq. mi.',
'3.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'3.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'3.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'3.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'3.msaSize#7.density': '> 25,000 persons/sq. mi.',
'4.msaSize#1.density': '100--499 persons/sq. mi.',
'4.msaSize#2.density': '500--999 persons/sq. mi.',
'4.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'4.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'4.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'4.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'4.msaSize#7.density': '> 25,000 persons/sq. mi.',
'5.msaSize#1.density': '100--499 persons/sq. mi.',
'5.msaSize#2.density': '500--999 persons/sq. mi.',
'5.msaSize#3.density': '1,000--1,999 persons/sq. mi.',
'5.msaSize#4.density': '2,000--3,999 persons/sq. mi.',
'5.msaSize#5.density': '4,000--9,999 persons/sq. mi.',
'5.msaSize#6.density': '10,000--24,999 persons/sq. mi.',
'5.msaSize#7.density': '> 25,000 persons/sq. mi.',
'1.dailySmartphoneUseHH': 'Daily smartphone use by a household member',
'1.sex': 'Male'
}.items()})

main = main.sort_index()

In [8]:
with pd.option_context("max_colwidth", 1000, 'display.float_format', lambda x: '%.3f' % x):
    main[[c for c in main.columns if c not in ['LABELS', 'VARIABLES', 'coef.1', 'pval.2', 'ci_low.1', 'ci_high.1']]]\
        [~pd.isnull(main.pval)]\
        .rename(columns={
            'ci_lowEform': 'ci_lowE',
            'ci_highEform': 'ci_highE',
            'coef': 'Marg. Eff.',
            'coefEform': 'Odds Rat.'
        })\
        .round(3)\
        .fillna('-')\
        .to_latex('../stata/result_table.tex', index=False, escape=False, longtable=True)

In [9]:
with pd.option_context('display.max_rows', 500):
    display(main)

,VARIABLES,Variable,LABELS,coefEform,pval,ci_lowEform,ci_highEform,coef,pval.1,ci_low,ci_high,coef.1,pval.2,ci_low.1,ci_high.1
pos,,,,,,,,,,,,,,,
-1,NaN,\textbf{Household size},NaN,,,,,,,,,NaN,NaN,NaN,NaN
0,2.hhSizeTopcode4,\ti Household size 2,hhSizeTopcode4 = 2,1.380***,0.000659,1.146,1.661,0.00732,0.191,-0.00366,0.0183,NaN,NaN,NaN,NaN
2,3.hhSizeTopcode4,\ti Household size 3,hhSizeTopcode4 = 3,0.913,0.492,0.704,1.184,-0.0314***,2.14e-07,-0.0432,-0.0195,NaN,NaN,NaN,NaN
4,4.hhSizeTopcode4,\ti Household size 4+,hhSizeTopcode4 = 4,0.687**,0.00767,0.521,0.905,-0.0498***,0,-0.0618,-0.0378,NaN,NaN,NaN,NaN
6,1.isWorker,Worker,isWorker = 1,1.412***,0,1.344,1.483,0.0226***,0,0.0195,0.0258,NaN,NaN,NaN,NaN
8,1.homeowner,Homeowner,homeowner = 1,0.752***,0,0.713,0.793,-0.0200***,0,-0.0238,-0.0162,NaN,NaN,NaN,NaN
10,1.sex,Male,"sex = 1, Male",1.135***,0,1.1,1.171,0.00864***,0,0.0065,0.0108,NaN,NaN,NaN,NaN
11,NaN,\textbf{Presence of children},NaN,,,,,,,,,NaN,NaN,NaN,NaN
12,1.children0to12,\ti Children 0-12,children0to12 = 1,1.000,0.998,0.928,1.078,6.59e-06,0.998,-0.00512,0.00514,NaN,NaN,NaN,NaN
14,1.children13to17,\ti Children 13-17,children13to17 = 1,0.980,0.642,0.901,1.066,-0.00136,0.641,-0.00709,0.00436,NaN,NaN,NaN,NaN
16,1.unrelated,No related adults in household,unrelated = 1,2.045***,0,1.801,2.322,0.0565***,0,0.045,0.068,NaN,NaN,NaN,NaN
18,1.outOfTown,Out of town on travel day,outOfTown = 1,2.110***,0,1.941,2.293,0.0615***,0,0.0534,0.0697,NaN,NaN,NaN,NaN
20,1.dailySmartphoneUseHH,Daily smartphone use by a household member,dailySmartphoneUseHH = 1,3.141***,0,2.864,3.444,0.0604***,0,0.0567,0.0642,NaN,NaN,NaN,NaN
21,NaN,\textbf{Vehicles per household member},NaN,,,,,,,,,NaN,NaN,NaN,NaN
22,0.incomeCategory#c.vehPerHHMember,"\ti \$24,999 or less",NaN,0.794**,0.00781,0.669,0.941,-0.0111**,0.0085,-0.0194,-0.00284,NaN,NaN,NaN,NaN
24,1.incomeCategory#c.vehPerHHMember,"\ti \$25,000-\$50,000",NaN,0.770***,0.000793,0.661,0.897,-0.0122***,0.000886,-0.0193,-0.00499,NaN,NaN,NaN,NaN
26,2.incomeCategory#c.vehPerHHMember,"\ti \$50,000-\$100,000",NaN,0.753***,5.59e-10,0.689,0.824,-0.0167***,6.84e-10,-0.0221,-0.0114,NaN,NaN,NaN,NaN
28,3.incomeCategory#c.vehPerHHMember,"\ti More than \$100,000",NaN,0.918**,0.00996,0.86,0.98,-0.00909**,0.00992,-0.016,-0.00218,NaN,NaN,NaN,NaN
29,NaN,\textbf{Days used public transit in last 30 days},NaN,,,,,,,,,NaN,NaN,NaN,NaN
30,0.incomeCategory#c.pubTransCount,"\ti \$24,999 or less",NaN,1.040***,0,1.031,1.049,0.00189***,0,0.00147,0.00231,NaN,NaN,NaN,NaN
32,1.incomeCategory#c.pubTransCount,"\ti \$25,000-\$50,000",NaN,1.048***,0,1.038,1.058,0.00218***,0,0.00174,0.00261,NaN,NaN,NaN,NaN
34,2.incomeCategory#c.pubTransCount,"\ti \$50,000-\$100,000",NaN,1.060***,0,1.052,1.067,0.00343***,0,0.00302,0.00385,NaN,NaN,NaN,NaN
36,3.incomeCategory#c.pubTransCount,"\ti More than \$100,000",NaN,1.065***,0,1.059,1.071,0.00663***,0,0.00603,0.00724,NaN,NaN,NaN,NaN
37,NaN,\textbf{Walk trips in last 7 days},NaN,,,,,,,,,NaN,NaN,NaN,NaN
38,0.incomeCategory#c.walkCount,"\ti \$24,999 or less",NaN,1.007*,0.0121,1.001,1.012,0.000317*,0.0123,6.89e-05,0.000565,NaN,NaN,NaN,NaN
40,1.incomeCategory#c.walkCount,"\ti \$25,000-\$50,000",NaN,1.012***,3.45e-07,1.007,1.016,0.000541***,3.59e-07,0.000332,0.000749,NaN,NaN,NaN,NaN
42,2.incomeCategory#c.walkCount,"\ti \$50,000-\$100,000",NaN,1.013***,0,1.009,1.016,0.000753***,0,0.000546,0.00096,NaN,NaN,NaN,NaN
44,3.incomeCategory#c.walkCount,"\ti More than \$100,000",NaN,1.016***,0,1.013,1.02,0.00172***,0,0.00139,0.00206,NaN,NaN,NaN,NaN
45,NaN,\textbf{Bike trips in last 7 days},NaN,,,,,,,,,NaN,NaN,NaN,NaN
46,0.incomeCategory#c.bikeCount,"\ti \$24,999 or less",NaN,1.012,0.125,0.997,1.027,0.000556,0.125,-0.000154,0.00127,NaN,NaN,NaN,NaN
48,1.incomeCategory#c.bikeCount,"\ti \$25,000-\$50,000",NaN,1.048***,5.7e-05,1.024,1.072,0.00217***,5.88e-05,0.00111,0.00323,NaN,NaN,NaN,NaN
50,2.incomeCategory#c.bikeCount,"\ti \$50,000-\$100,000",NaN,1.035**,0.00137,1.013,1.057,0.00202**,0.00138,0.000782,0.00326,NaN,NaN,NaN,NaN
52,3.incomeCategory#c.bikeCount,"\ti More than \$100,000",NaN,1.050***,2.46e-08,1.032,1.068,0.00518***,2.42e-08,0.00336,0.007,NaN,NaN,NaN,NaN
53,NaN,\textbf{Count of trips on travel day},NaN,,,,,,,,,NaN,NaN,NaN,NaN
54,0.incomeCategory#c.CNTTDTR,"\ti \$24,999 or less",NaN,1.024*,0.0367,1.001,1.047,0.00113*,0.0361,7.33e-05,0.0022,NaN,NaN,NaN,NaN
56,1.incomeCategory#c.CNTTDTR,"\ti \$25,000-\$50,000",NaN,1.030**,0.00224,1.011,1.05,0.00138**,0.0023,0.000494,0.00228,NaN,NaN,NaN,NaN
58,2.incomeCategory#c.CNTTDTR,"\ti \$50,000-\$100,000",NaN,1.042***,7.5e-10,1.028,1.056,0.00244***,8.4e-10,0.00166,0.00321,NaN,NaN,NaN,NaN
60,3.incomeCategory#c.CNTTDTR,"\ti More than \$100,000",NaN,1.043***,0,1.033,1.053,0.00443***,0,0.00342,0.00544,NaN,NaN,NaN,NaN
62,1.hhSizeTopcode4#0.incomeCategory,1.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,"\textbf{Income, household size 1}",NaN,,,,,,,,,NaN,NaN,NaN,NaN
64,1.hhSizeTopcode4#1.incomeCategory,"\ti \$25,000-\$50,000",NaN,1.270,0.11,0.947,1.702,0.0240***,3.99e-07,0.0148,0.0333,NaN,NaN,NaN,NaN
66,1.hhSizeTopcode4#2.incomeCategory,"\ti \$50,000-\$100,000",NaN,2.083***,4.54e-09,1.63,2.662,0.0734***,0,0.0639,0.083,NaN,NaN,NaN,NaN
68,1.hhSizeTopcode4#3.incomeCategory,"\ti More than \$100,000",NaN,3.500***,0,2.745,4.463,0.155***,0,0.142,0.168,NaN,NaN,NaN,NaN
70,2.hhSizeTopcode4#0.incomeCategory,2.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,"\textbf{Income, household size 2}",NaN,,,,,,,,,NaN,NaN,NaN,NaN
72,2.hhSizeTopcode4#1.incomeCategory,"\ti \$25,000-\$50,000",NaN,0.920,0.55,0.701,1.208,0.000924,0.824,-0.00721,0.00906,NaN,NaN,NaN,NaN
74,2.hhSizeTopcode4#2.incomeCategory,"\ti \$50,000-\$100,000",NaN,1.456**,0.00142,1.156,1.835,0.0324***,0,0.0248,0.0401,NaN,NaN,NaN,NaN
76,2.hhSizeTopcode4#3.incomeCategory,"\ti More than \$100,000",NaN,2.867***,0,2.301,3.573,0.107***,0,0.0984,0.115,NaN,NaN,NaN,NaN
78,3.hhSizeTopcode4#0.incomeCategory,3.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,"\textbf{Income, household size 3}",NaN,,,,,,,,,NaN,NaN,NaN,NaN
80,3.hhSizeTopcode4#1.incomeCategory,"\ti \$25,000-\$50,000",NaN,0.956,0.778,0.7,1.306,0.00197,0.74,-0.00965,0.0136,NaN,NaN,NaN,NaN
82,3.hhSizeTopcode4#2.incomeCategory,"\ti \$50,000-\$100,000",NaN,1.190,0.204,0.909,1.558,0.0169**,0.00226,0.00607,0.0278,NaN,NaN,NaN,NaN
84,3.hhSizeTopcode4#3.incomeCategory,"\ti More than \$100,000",NaN,2.602***,0,2.021,3.349,0.0909***,0,0.0794,0.102,NaN,NaN,NaN,NaN
86,4.hhSizeTopcode4#0.incomeCategory,4.hhSizeTopcode4#0.incomeCategory,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,"\textbf{Income, household size 4+}",NaN,,,,,,,,,NaN,NaN,NaN,NaN
88,4.hhSizeTopcode4#1.incomeCategory,"\ti \$25,000-\$50,000",NaN,0.832,0.255,0.607,1.141,-0.00410,0.446,-0.0146,0.00644,NaN,NaN,NaN,NaN
90,4.hhSizeTopcode4#2.incomeCategory,"\ti \$50,000-\$100,000",NaN,1.135,0.35,0.87,1.481,0.0115*,0.02,0.00181,0.0211,NaN,NaN,NaN,NaN
92,4.hhSizeTopcode4#3.incomeCategory,"\ti More than \$100,000",NaN,2.647***,0,2.06,3.401,0.0806***,0,0.0702,0.0909,NaN,NaN,NaN,NaN
93,NaN,\textbf{Race},NaN,,,,,,,,,NaN,NaN,NaN,NaN
94,1.race,\ti American Indian or Alaska Native,"race = 1, American Indian or Alaska Native",0.812,0.152,0.611,1.08,-0.0139,0.129,-0.0319,0.00406,NaN,NaN,NaN,NaN
96,2.race,\ti Asian,"race = 2, Asian",0.779***,4.13e-09,0.717,0.847,-0.0165***,4.27e-10,-0.0217,-0.0113,NaN,NaN,NaN,NaN
98,3.race,\ti Black or African American,"race = 3, Black or African American",0.762***,2.05e-10,0.7,0.828,-0.0179***,0,-0.0231,-0.0127,NaN,NaN,NaN,NaN
100,4.race,\ti Multiple races,"race = 4, Multiple races",0.897*,0.0456,0.807,0.998,-0.00745*,0.0399,-0.0146,-0.000344,NaN,NaN,NaN,NaN
102,5.race,\ti Native Hawaiian or other Pacific Islander,"race = 5, Native Hawaiian or other Pacific Isl...",0.955,0.787,0.686,1.331,-0.00320,0.784,-0.0261,0.0197,NaN,NaN,NaN,NaN
104,6.race,\ti Other,"race = 6, Other",0.846*,0.0136,0.741,0.966,-0.0113*,0.0101,-0.0199,-0.0027,NaN,NaN,NaN,NaN
106,1.isHispanic,Hispanic,isHispanic = 1,0.899**,0.00559,0.834,0.969,-0.00712**,0.00456,-0.012,-0.0022,NaN,NaN,NaN,NaN
107,NaN,\textbf{Age},NaN,,,,,,,,,NaN,NaN,NaN,NaN
108,1.agecat,\ti 20-29,"agecat = 1, [20, 30)",2.663***,0,2.356,3.01,0.0846***,0,0.0756,0.0936,NaN,NaN,NaN,NaN
110,2.agecat,\ti 30-39,"agecat = 2, [30, 40)",1.949***,0,1.725,2.203,0.0526***,0,0.0441,0.0611,NaN,NaN,NaN,NaN
112,3.agecat,\ti 40-49,"agecat = 3, [40, 50)",1.131*,0.0446,1.003,1.274,0.00819*,0.0392,0.000407,0.016,NaN,NaN,NaN,NaN
114,4.agecat,\ti 50-59,"agecat = 4, [50, 60)",0.647***,0,0.572,0.732,-0.0244***,3.85e-10,-0.032,-0.0168,NaN,NaN,NaN,NaN
116,5.agecat,\ti 60-69,"agecat = 5, [60, 70)",0.446***,0,0.392,0.507,-0.0402***,0,-0.0479,-0.0326,NaN,NaN,NaN,NaN
118,6.agecat,\ti 70-79,"agecat = 6, [70, 80)",0.312***,0,0.268,0.363,-0.0519***,0,-0.0597,-0.044,NaN,NaN,NaN,NaN
120,7.agecat,\ti 80+,"agecat = 7, [80, 90)",0.289***,0,0.234,0.358,-0.0540***,0,-0.0627,-0.0452,NaN,NaN,NaN,NaN
121,NaN,\textbf{MSA size},NaN,,,,,,,,,NaN,NaN,NaN,NaN
122,1.msaSize,"\ti Less than 250,000\textsuperscript{\textdag...","msaSize = 1, Less than 250,000",1.453*,0.0108,1.09,1.936,0.0182***,3.93e-07,0.0112,0.0253,0.0182***,3.930000e-07,0.0112,0.0253
124,2.msaSize,"\ti 250,000-499,999\textsuperscript{\textdagger}","msaSize = 2, 250,000 to 499,999",1.197,0.357,0.817,1.753,0.0386***,0,0.0315,0.0457,0.0386***,0.000000e+00,0.0315,0.0457
126,3.msaSize,"\ti 500,000-999,999\textsuperscript{\textdagger}","msaSize = 3, 500,000 to 999,999",1.193,0.345,0.827,1.722,0.0415***,0,0.0345,0.0486,0.0415***,0.000000e+00,0.0345,0.0486
128,4.msaSize,"\ti 1,000,000-2,999,999\textsuperscript{\textd...","msaSize = 4, 1,000,000 to 2,999,999",1.945***,0.000507,1.337,2.83,0.0630***,0,0.0562,0.0697,0.0630***,0.000000e+00,0.0562,0.0697
130,5.msaSize,"\ti More than 3,000,000\textsuperscript{\textd...","msaSize = 5, More than 3 million",1.855**,0.00159,1.264,2.722,0.0790***,0,0.072,0.086,0.0790***,0.000000e+00,0.0720,0.0860
132,0.msaSize#0.density,0.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,NaN,"\textbf{Home block group density, not in MSA}",NaN,,,,,,,,,NaN,NaN,NaN,NaN
134,0.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,1.077,0.604,0.813,1.428,0.00112,0.607,-0.00314,0.00538,NaN,NaN,NaN,NaN
136,0.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,1.314,0.108,0.942,1.834,0.00450,0.131,-0.00134,0.0103,NaN,NaN,NaN,NaN
138,0.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,1.290,0.139,0.921,1.808,0.00416,0.162,-0.00168,0.01,NaN,NaN,NaN,NaN
140,0.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,1.082,0.688,0.737,1.588,0.00118,0.694,-0.00471,0.00708,NaN,NaN,NaN,NaN
142,0.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,1.103,0.688,0.684,1.777,0.00148,0.698,-0.006,0.00896,NaN,NaN,NaN,NaN
144,0.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,0.832,0.793,0.211,3.285,-0.00245,0.776,-0.0193,0.0144,NaN,NaN,NaN,NaN
146,0.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,1.msaSize#0.density,1.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,NaN,"\textbf{Home block group density, MSA with les...",NaN,,,,,,,,,NaN,NaN,NaN,NaN
150,1.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,0.940,0.666,0.711,1.244,-0.00159,0.669,-0.00885,0.00568,NaN,NaN,NaN,NaN
152,1.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,1.084,0.601,0.801,1.468,0.00222,0.6,-0.00608,0.0105,NaN,NaN,NaN,NaN
154,1.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,1.451**,0.00823,1.101,1.911,0.0116**,0.00648,0.00324,0.0199,NaN,NaN,NaN,NaN
156,1.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,1.273,0.0845,0.968,1.675,0.00709,0.0765,-0.000756,0.0149,NaN,NaN,NaN,NaN
158,1.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,1.569**,0.00173,1.184,2.079,0.0145**,0.00134,0.00564,0.0234,NaN,NaN,NaN,NaN
160,1.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,1.381,0.28,0.769,2.48,0.00982,0.328,-0.00987,0.0295,NaN,NaN,NaN,NaN
162,1.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,4.676*,0.0234,1.232,17.75,0.0796,0.162,-0.032,0.191,NaN,NaN,NaN,NaN
164,2.msaSize#0.density,2.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,NaN,"\textbf{Home block group density, MSA with 250...",NaN,,,,,,,,,NaN,NaN,NaN,NaN
166,2.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,1.562*,0.0271,1.052,2.319,0.0133*,0.0188,0.0022,0.0244,NaN,NaN,NaN,NaN
168,2.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,2.053***,0.0004,1.379,3.057,0.0243***,0.000156,0.0117,0.0368,NaN,NaN,NaN,NaN
170,2.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,2.500***,1.98e-06,1.714,3.647,0.0337***,4.74e-08,0.0216,0.0458,NaN,NaN,NaN,NaN
172,2.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,2.572***,5.54e-07,1.777,3.722,0.0352***,2.39e-09,0.0236,0.0468,NaN,NaN,NaN,NaN
174,2.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,2.777***,5.01e-08,1.923,4.009,0.0394***,0,0.0277,0.051,NaN,NaN,NaN,NaN
176,2.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,3.735***,1.7e-09,2.433,5.734,0.0579***,1.65e-08,0.0378,0.078,NaN,NaN,NaN,NaN
178,2.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,3.170*,0.044,1.031,9.743,0.0472,0.165,-0.0194,0.114,NaN,NaN,NaN,NaN
180,3.msaSize#0.density,3.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,"\textbf{Home block group density, MSA with 500...",NaN,,,,,,,,,NaN,NaN,NaN,NaN
182,3.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,1.462*,0.0404,1.017,2.101,0.0112*,0.0285,0.00117,0.0212,NaN,NaN,NaN,NaN
184,3.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,2.077***,7.58e-05,1.446,2.982,0.0252***,1.33e-05,0.0138,0.0365,NaN,NaN,NaN,NaN
186,3.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,2.317***,2.01e-06,1.639,3.278,0.0304***,1.95e-08,0.0198,0.041,NaN,NaN,NaN,NaN
188,3.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,3.097***,5.07e-11,2.211,4.34,0.0465***,0,0.0358,0.0572,NaN,NaN,NaN,NaN
190,3.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,3.076***,1.51e-10,2.181,4.338,0.0461***,0,0.035,0.0572,NaN,NaN,NaN,NaN
192,3.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,3.632***,8.87e-10,2.405,5.487,0.0569***,1.27e-08,0.0373,0.0765,NaN,NaN,NaN,NaN
194,3.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,5.110***,7.64e-06,2.501,10.44,0.0832**,0.00326,0.0278,0.139,NaN,NaN,NaN,NaN
196,4.msaSize#0.density,4.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
197,NaN,"\textbf{Home block group density, MSA with 1,0...",NaN,,,,,,,,,NaN,NaN,NaN,NaN
198,4.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,1.242,0.259,0.853,1.81,0.0102,0.24,-0.00682,0.0272,NaN,NaN,NaN,NaN
200,4.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,2.044***,0.000223,1.398,2.987,0.0407***,5.4e-05,0.0209,0.0604,NaN,NaN,NaN,NaN
202,4.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,2.118***,3.45e-05,1.485,3.021,0.0433***,1.09e-06,0.0259,0.0607,NaN,NaN,NaN,NaN
204,4.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,2.356***,1.01e-06,1.671,3.323,0.0514***,6.27e-10,0.0351,0.0677,NaN,NaN,NaN,NaN
206,4.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,2.876***,8.59e-10,2.052,4.032,0.0682***,0,0.0523,0.0841,NaN,NaN,NaN,NaN
208,4.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,2.755***,4.34e-08,1.917,3.959,0.0644***,1.05e-10,0.0449,0.0839,NaN,NaN,NaN,NaN
210,4.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,7.944***,0,4.483,14.08,0.187***,1.29e-07,0.118,0.257,NaN,NaN,NaN,NaN
212,5.msaSize#0.density,5.msaSize#0.density,NaN,1,NaN,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,NaN,"\textbf{Home block group density, MSA with 3 m...",NaN,,,,,,,,,NaN,NaN,NaN,NaN
214,5.msaSize#1.density,\ti 100--499 persons/sq. mi.,NaN,1.686**,0.00487,1.172,2.426,0.0319**,0.00181,0.0119,0.052,NaN,NaN,NaN,NaN
216,5.msaSize#2.density,\ti 500--999 persons/sq. mi.,NaN,2.087***,6.87e-05,1.453,2.998,0.0481***,4.71e-06,0.0275,0.0687,NaN,NaN,NaN,NaN
218,5.msaSize#3.density,"\ti 1,000--1,999 persons/sq. mi.",NaN,2.756***,1.04e-08,1.948,3.899,0.0723***,0,0.0529,0.0917,NaN,NaN,NaN,NaN
220,5.msaSize#4.density,"\ti 2,000--3,999 persons/sq. mi.",NaN,3.168***,0,2.254,4.452,0.0858***,0,0.0673,0.104,NaN,NaN,NaN,NaN
222,5.msaSize#5.density,"\ti 4,000--9,999 persons/sq. mi.",NaN,3.561***,0,2.539,4.994,0.0978***,0,0.0797,0.116,NaN,NaN,NaN,NaN
224,5.msaSize#6.density,"\ti 10,000--24,999 persons/sq. mi.",NaN,4.605***,0,3.265,6.496,0.127***,0,0.107,0.146,NaN,NaN,NaN,NaN
226,5.msaSize#7.density,"\ti > 25,000 persons/sq. mi.",NaN,6.967***,0,4.87,9.967,0.180***,0,0.156,0.204,NaN,NaN,NaN,NaN
228,1.msaRail,Heavy rail in MSA,msaRail = 1,0.979,0.574,0.908,1.055,-0.00146,0.573,-0.00655,0.00363,NaN,NaN,NaN,NaN
230,1.season,1.season,"season = 1, Spring",0.798***,8.98e-11,0.745,0.854,-0.0154***,0,-0.0199,-0.0108,NaN,NaN,NaN,NaN
232,2.season,2.season,"season = 2, Summer",0.820***,0,0.776,0.867,-0.0136***,0,-0.0174,-0.00976,NaN,NaN,NaN,NaN
234,3.season,3.season,"season = 3, Winter",0.999,0.958,0.945,1.055,-0.000107,0.958,-0.00409,0.00388,NaN,NaN,NaN,NaN
236,1.geographicCellDerived,1.geographicCellDerived,"geographicCellDerived = 1, California",1.315**,0.00175,1.108,1.56,0.0216***,0.000854,0.00889,0.0343,NaN,NaN,NaN,NaN
238,2.geographicCellDerived,2.geographicCellDerived,"geographicCellDerived = 2, Census division 1 (...",0.834,0.135,0.657,1.058,-0.0127,0.136,-0.0293,0.00397,NaN,NaN,NaN,NaN
240,3.geographicCellDerived,3.geographicCellDerived,"geographicCellDerived = 3, Census division 2 (...",0.753*,0.0276,0.585,0.969,-0.0192*,0.0268,-0.0362,-0.00221,NaN,NaN,NaN,NaN
242,4.geographicCellDerived,4.geographicCellDerived,"geographicCellDerived = 4, Census division 3 (...",0.828,0.0817,0.669,1.024,-0.0131,0.0859,-0.0281,0.00186,NaN,NaN,NaN,NaN
244,5.geographicCellDerived,5.geographicCellDerived,"geographicCellDerived = 5, Census division 4 (...",0.585***,3.09e-05,0.454,0.752,-0.0339***,2.7e-05,-0.0497,-0.0181,NaN,NaN,NaN,NaN
246,6.geographicCellDerived,6.geographicCellDerived,"geographicCellDerived = 6, Census division 5 (...",1.121,0.279,0.912,1.378,0.00862,0.275,-0.00686,0.0241,NaN,NaN,NaN,NaN
248,7.geographicCellDerived,7.geographicCellDerived,"geographicCellDerived = 7, Census division 6 (...",0.871,0.356,0.65,1.168,-0.00974,0.35,-0.0302,0.0107,NaN,NaN,NaN,NaN
250,8.geographicCellDerived,8.geographicCellDerived,"geographicCellDerived = 8, Census division 7 (...",1.066,0.762,0.703,1.618,0.00480,0.765,-0.0267,0.0363,NaN,NaN,NaN,NaN
252,9.geographicCellDerived,9.geographicCellDerived,"geographicCellDerived = 9, Census division 8 (...",0.834,0.137,0.656,1.059,-0.0127,0.136,-0.0293,0.004,NaN,NaN,NaN,NaN
254,10.geographicCellDerived,10.geographicCellDerived,"geographicCellDerived = 10, Census division 9 ...",0.578***,3.55e-05,0.446,0.75,-0.0345***,2.77e-05,-0.0506,-0.0184,NaN,NaN,NaN,NaN
256,11.geographicCellDerived,11.geographicCellDerived,"geographicCellDerived = 11, Georgia",1.283**,0.00842,1.066,1.545,0.0196**,0.00622,0.00555,0.0336,NaN,NaN,NaN,NaN
258,12.geographicCellDerived,12.geographicCellDerived,"geographicCellDerived = 12, Iowa",0.746*,0.0175,0.585,0.95,-0.0198*,0.0172,-0.0362,-0.00351,NaN,NaN,NaN,NaN
260,13.geographicCellDerived,13.geographicCellDerived,"geographicCellDerived = 13, Maryland",0.810,0.109,0.626,1.048,-0.0146,0.107,-0.0323,0.00314,NaN,NaN,NaN,NaN
262,14.geographicCellDerived,14.geographicCellDerived,"geographicCellDerived = 14, New York State",0.430***,0,0.357,0.517,-0.0489***,0,-0.0616,-0.0362,NaN,NaN,NaN,NaN
264,15.geographicCellDerived,15.geographicCellDerived,"geographicCellDerived = 15, North Carolina",1.083,0.419,0.893,1.313,0.00595,0.415,-0.00834,0.0202,NaN,NaN,NaN,NaN
266,16.geographicCellDerived,16.geographicCellDerived,"geographicCellDerived = 16, Oklahoma",0.898,0.478,0.667,1.209,-0.00766,0.473,-0.0286,0.0133,NaN,NaN,NaN,NaN
268,17.geographicCellDerived,17.geographicCellDerived,"geographicCellDerived = 17, South Carolina",1.072,0.503,0.874,1.316,0.00523,0.501,-0.01,0.0204,NaN,NaN,NaN,NaN